.speech {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.speech input {
    border: 0;
    width: 240px;
    display: inline-block;
    height: 30px;
    border: 1px solid #DDD;
}

.speech img {
    width: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.links {
    list-style: none;
    float: right;
}

.links li {
    width: 80px;
    float: left;
    padding-top: 26px;
}

.links li a {
    cursor: pointer;
}

.formMessage {
    color: rgb(3, 129, 3);
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}