.navbar li {
    padding: 10px;
    display: inline-flex;
}

.navbarResponsive {
    float: right;
}

.navbarBrand {
    font-size: 32px;
    color: #222;
    padding: 20px;
}

.navbarBrand:hover {
    font-size: 32px;
    color: #222;
    padding: 20px;
    text-decoration: none;
}

nav {
    .container {
        margin: 20px 40px;
    }
}